*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: white;
  overflow-x: hidden;
}

body {
  background-color: #20211e;
}

.inner--default, .hero .hero__container, header .header__container {
  max-width: 90rem;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  padding: 2rem 0;
  border-bottom: 0.063rem dashed;
  background-color: #20211e;
}
header .header__container {
  display: flex;
  justify-content: space-between;
}
header h4 {
  color: white;
}
header ul {
  display: flex;
}
header ul li {
  cursor: pointer;
  margin-left: 1rem;
  border-bottom: 0.063rem solid transparent;
  padding-bottom: 0.5rem;
}
header ul li:hover {
  border-bottom: 0.063rem solid;
  border-image-source: linear(white);
  border-image-slice: 1;
}

.hero {
  background-image: url("backgroundshoess.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10rem;
  border: 0.063rem dashed;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.hero .hero__container h1 {
  color: #20211e;
  margin-bottom: 3rem;
}
.hero .hero__container p {
  margin-bottom: 3rem;
}
.hero .hero__container button {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transform: translate(0);
  background-image: linear-gradient(45deg, #20211e, #434343);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  transition: box-shadow 0.25s;
  color: rgb(43, 43, 43);
}
.hero .hero__container button .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #20211e, #434343);
}
.hero .hero__container button:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}
.hero .hero__container button:hover {
  background-image: linear-gradient(-45deg, #20211e, #434343);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}
.hero .hero__container button:hover .text {
  background-image: linear-gradient(-45deg, #20211e, #434343);
}

footer {
  background-color: #20211e;
  text-align: left;
  padding: 35px 45px;
  border-top: 0.063rem dashed;
}

body {
  background-image: url(backgroundshoess.png);
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  border: 0.063rem dashed white;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}/*# sourceMappingURL=main.css.map */